<div class="flex flex-wrap w-full">
  <h1 class="w-full leading-8 text-5xl pb-3">
    Search History
  </h1>
  <p class="w-full text-xl pb-7">Searches: <%= @queries.load.size %></p>

  <% @queries.each do |query| %>
    <div id="<%= dom_id query %>" class="w-full">
      <h2 class="w-full text-3xl"><%= link_to query.search_term, query, class: "underline" %></h2>
      <div class="pl-3 py-2">
        <div class="flex flex-wrap">
          <%= heroicon "calendar", variant: :outline, options: { class: "h-5 w-5" } %>
          <p class="pl-2"><%= l(query.searched_at, format: :date) %></p>
        </div>
        <div class="flex flex-wrap">
          <%= heroicon "clock", variant: :outline, options: { class: "h-5 w-5" } %>
          <p class="pl-2"><%= l(query.searched_at, format: :time_of_day) %></p>
        </div>
      </div>

      <% if query.comments.any? %>
        <h3 class="w-full text-xl pb-2 pl-3">Comments</h3>

        <div class="pl-6">
          <%= render query.comments %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
