<div id="<%= dom_id @query %>" class="flex flex-wrap w-full">
  <h1 class="w-full leading-8 text-5xl pb-10">
    <%= @query.search_term %>
  </h1>
  <% if @query.results? %>
    <ol class="w-full pl-10">
      <% @query.results.each do |result| %>
        <li class="w-full flex flex-wrap pb-5">
          <div class="text-5xl text-bold pr-3">
            <%= result.rank %>
          </div>
          <div class="pl=3 flex flex-col">
            <%= link_to result.title, result.url, class: "text-gray-800 underline visited:decoration-pink-500" %>
            <%= result.host %>
          </div>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p class="w-full pl-10 text-pink-500 font-bold pb-7">No results found</p>
  <% end %>

  <div class="w-full pl-5 pb-5">
    <div class="flex flex-wrap">
      <%= heroicon "calendar", variant: :outline, options: { class: "h-5 w-5" } %>
      <p class="pl-2 text-sm"><%= l(@query.searched_at, format: :date) %></p>
    </div>
    <div class="flex flex-wrap">
      <%= heroicon "clock", variant: :outline, options: { class: "h-5 w-5" } %>
      <p class="pl-2 text-sm"><%= l(@query.searched_at, format: :time_of_day) %></p>
    </div>
  </div>

  <div class"w-full">
    <h2 class="w-full text-3xl pb-2">Comments</h2>

    <%= render @query.comments.with_all_rich_text %>

    <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @query } %>
  </div>
</div>

