<div id="<%= dom_id @query %>">
  <p>
    <%= @query.search_term %>
  </p>
  <% if @query.results? %>
    <ul>
      <% @query.results.each do |result| %>
        <li><%= result.title %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No results found</p>
  <% end %>
</div>

<h4>Comments</h4>

<%= render @query.comments.with_all_rich_text %>

<%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @query } %>
