<div id="<%= dom_id @query %>" class="flex flex-wrap w-full">
  <h1 class="w-full leading-8 text-5xl pb-10">
    <%= @query.search_term %>
  </h1>
  <% if @query.results? %>
    <ol class="w-full pl-10">
      <% @query.results.each do |result| %>
        <li class="w-full flex flex-wrap pb-5">
          <div class="text-5xl text-bold pr-3">
            <%= result.rank %>
          </div>
          <div class="pl=3 flex flex-col">
            <%= link_to result.title, result.url, class: "text-primary underline visited:decoration-highlight" %>
            <%= result.host %>
          </div>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p class="w-full pl-10 text-highlight font-bold pb-7">No results found</p>
  <% end %>

  <div class="w-full pl-5 pb-5">
    <%= render(DateAndTimeComponent.new(@query.searched_at)) %>
  </div>

  <div class"w-full">
    <h2 class="w-full text-3xl pb-2">Comments</h2>

    <%= render @query.comments.with_all_rich_text %>

    <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @query } %>
  </div>
</div>

